codeStyles
*.idea
*.iml
*.cmd
*.classpath
*.project


*.settings/

/home-common/target
/home-web/target
/eureka-server/target
/home-service/target

/home-service/mvnw
/home-service/.mvn/wrapper


**/__pycache__/
**/__init__.py